.top-section-text.sp {}

.top-section-inner-sp {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.sp_text {
    max-width: 1000px;
    margin: 0 auto;
}

.silver-bt-bullets.sp {
    max-width: 1160px;
    justify-content: center;
    margin: 0 auto;
}

.sp-t {
    max-width: 1024px;
    margin: 0 auto;
}

.spray-gred_4.sp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sp-bot-gr-big {
    grid-column: 1 / 4;
}

.silver-item-top.sp {
    display: grid;
    grid-template-columns: 1fr 128px;
}

.sper-bot-txt {
    max-width: 722px;
}

.sper-img1 {
    flex: 1;
}

.sper-h {
    height: 520px;
}

.mw1160 {
    max-width: 1160px;
    margin: 0 auto;
}

.table-text-sp {
    display: flex;
    gap: 32px;
}

.table-text-sp h3,
.table-text-sp ul {
    flex: 1;
}

.mw960 {
    max-width: 960px;
    margin: 0 auto;
}

.sper-media-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(417px, 1fr));
}

.sper-item {
    display: flex;
    flex-direction: column;
}

.sper-item span {
    flex: 1;
}

.num-it-sper {
    min-height: 218px;
}

@media (max-width: 860px) {
    .sper-media-wrapper {
        grid-template-columns: 1fr;
    }
    .num-it-sper {
        min-height: 0;
    }
}