.top-section-text.sp {}

.top-section-inner-sp {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.sp_text {
    max-width: 1000px;
    margin: 0 auto;
}

.silver-bt-bullets.sp {
    max-width: 1160px;
    justify-content: center;
    margin: 0 auto;
}

.sp-t {
    max-width: 1024px;
    margin: 0 auto;
}

.spray-gred_4.sp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sp-bot-gr-big {
    grid-column: 1 / 4;
}

.silver-item-top.sp {
    display: grid;
    grid-template-columns: 1fr 128px;
}

.sper-bot-txt {
    max-width: 722px;
}

.sper-img1 {
    flex: 1;
}

.sper-h {
    height: 520px;
}

.mw1160 {
    max-width: 1160px;
}

.mw960 {
    max-width: 960px;
}

.mw684 {
    max-width: 864px;
}

.m0a {
    margin: 0 auto;
}

.table-text-sp {
    display: flex;
    gap: 32px;
}

.table-text-sp h3,
.table-text-sp ul {
    flex: 1;
}

.sper-media-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(417px, 1fr));
}

.sper-item {
    display: flex;
    flex-direction: column;
}

.sper-item span {
    flex: 1;
}

.num-it-sper {
    min-height: 218px;
}

.silver-item-mask-sm.sper-img img{
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.sper-media-wrapper2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.spera-slide div div{
    width: 50%;
}

.text-slide-spera h3 {
    font-family: var(--font-black);
    padding-bottom: clamp(6px, 3vw, 8px);
}

.text-slide-spera p {
    padding-bottom: clamp(16px, 3vw, 24px);
}

.spera-slide {
    height: 646px;
}
.spera-slider {
    overflow: hidden;
    position: relative;
}

.spera-btns {
    position: relative;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 192px;
    margin: 0 auto 48px auto;
    padding-bottom: clamp(16px, 3vw, 24px);
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    width: 80px!important;
    height: 80px!important;
}

.swiper-button-prev {
    margin-right: 20px;
}

.swiper-button-prev {
    background: center / contain no-repeat url(../images/icons/left-arrow.svg);
}

.swiper-button-next {
    background: center / contain no-repeat url(../images/icons/right-arrow.svg);
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
.wr-btns {
    margin-top: -15px;
}

.county-deck  {
    width: 100%!important;
    border-bottom: 1px solid var(--gray-200);
    padding-top: clamp(16px, 3vw, 24px);
    padding-bottom: clamp(16px, 3vw, 24px);
    transition: all .3s ease;
}

.county-deck:first-child {
    border-top: 1px solid var(--gray-200);
}

.gap-32 {
    gap: 32px;
}

@media (max-width: 860px) {
    .spera-btns {
        margin: 0 auto 12px auto;
    }
    .sper-media-wrapper {
        grid-template-columns: 1fr;
    }
    .num-it-sper {
        min-height: 0;
    }
    .spera-slide div div {
        width: 100%;
    }
}