.silver-item-top.sper {
    display: grid;
    grid-template-columns: 1fr 128px;
    gap: 8px;
}

.top-section-inner-sp {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.sp_text {
    max-width: 1000px;
    margin: 0 auto;
}

.silver-bt-bullets.sp {
    max-width: 1160px;
    justify-content: center;
    margin: 0 auto;
}

.sp-t {
    max-width: 1024px;
    margin: 0 auto;
}

.spray-gred_4.sp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sp-bot-gr-big {
    grid-column: 1 / 4;
}

.silver-item-top.sp {
    display: grid;
    grid-template-columns: 1fr 128px;
}

.sper-bot-txt {
    max-width: 722px;
}

.sper-img1 {
    flex: 1;
}

.sper__img {
    height: 520px;
}

.mw1160 {
    max-width: 1160px;
}

.mw960 {
    max-width: 960px;
}

.mw684 {
    max-width: 864px;
}

.m0a {
    margin: 0 auto;
}

.table-text-sp {
    display: flex;
    gap: 32px;
}

.table-text-sp h3,
.table-text-sp ul {
    flex: 1;
}

.sper-media-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(417px, 1fr));
}

.sper-item {
    display: flex;
    flex-direction: column;
}

.sper-item span {
    flex: 1;
}

.num-it-sper {
    min-height: 218px;
}

.silver-item-mask-sm.sper-img img {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.sper-media-wrapper2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.spera-slide div div {
    width: 50%;
}

.text-slide-spera h3 {
    font-family: var(--font-black);
    padding-bottom: clamp(6px, 3vw, 8px);
}

.text-slide-spera p {
    padding-bottom: clamp(16px, 3vw, 24px);
}

.spera-slide {
    height: 646px;
}

.spera-slider {
    overflow: hidden;
    position: relative;
}

.spera-btns {
    position: relative;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 192px;
    margin: 0 auto 48px auto;
    padding-bottom: clamp(16px, 3vw, 24px);
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    width: 80px !important;
    height: 80px !important;
}

.swiper-button-prev {
    margin-right: 20px;
}

.swiper-button-prev {
    background: center / contain no-repeat url(../images/icons/left-arrow.svg);
}

.swiper-button-next {
    background: center / contain no-repeat url(../images/icons/right-arrow.svg);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.wr-btns {
    margin-top: -15px;
}

.county-deck {
    width: 100% !important;
    border-bottom: 1px solid var(--gray-200);
    padding-top: clamp(16px, 3vw, 24px);
    padding-bottom: clamp(16px, 3vw, 24px);
    transition: all .3s ease;
}

.county-deck:first-child {
    border-top: 1px solid var(--gray-200);
}

.county-deck:last-child {
    border: none;
}

.gap-32 {
    gap: 32px;
}

.silver-item-mask-big.sper img {
    height: 520px;
}

.text-slide-spera.sper_txt {
    min-width: 425px;
    max-width: 425px;
}

.text-slide-spera.sper_txt span:first-child {
    padding-bottom: 24px;
    display: block;
}

.spera-slide2 .img-slide-pera {
    flex-grow: 1;
}

.sper-w100 img {
    border-radius: 40px;
    object-fit: cover;
    object-position: 0 25%;
    width: 100%;
    height: 240px;
}

.left-txt-wr {
    max-width: 681px;
}

.right-txt-wr {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3vw, 24px);
}

.right-txt-wr h3 {
    font-family: var(--font-bold);
}

.sper-mask-flag {
    position: relative;
    mask-image: url(../images/mask/sper-flag-mask-pk.png);
    mask-repeat: no-repeat;
    mask-size: 98% 98%;
    mask-position: center;
}

.sper-mask-flag img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: 0 5%;
}

.top-sper-dec::after {
    position: absolute;
    content: '';
    background: center / contain no-repeat url(../images/icons/Plus.svg);
    left: 7%;
    top: 15%;
    width: 48px;
    height: 48px;
}


.top-sper-dec::before {
    position: absolute;
    content: '';
    background: center / contain no-repeat url(../images/icons/Plus.svg);
    right: 7%;
    bottom: 19%;
    width: 48px;
    height: 48px;
}

.top-sper-dec {
    position: relative;
}

.confidencial a {
    display: inline;
}

.confidencial.sper {
    display: block;
}

.form-fields.sper {
    max-width: 770px;
}

.form-title.sper {
    max-width: max-content;
}

.section-block.form.sper {
    padding-bottom: clamp(32px, 3vw, 80px);
}

.silver-item-top.sper img:last-child {
    display: block;
}

@media (max-width: 1500px) {
    .sper-bot-txt {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .spray-gred_4.sp {
        display: flex;
        flex-wrap: wrap;
    }

    .silver-item-top.sper img {
        height: 140px;
    }

    .silver-item-top.sper {
        grid-template-columns: 1fr 80px;
    }

    .table-text-sp.sper ul {
        display: none;
    }
}

@media (max-width: 860px) {
    .sper-bot-txt {
        width: 100%;
    }

    .sper__img {
        height: inherit;
    }

    .silver-item-mask-sm.sper-img img {
        height: 360px;
    }

    .text-slide-spera div img {
        height: 60px;
        width: 60px;
    }

    .mamg.media-wrapper.sper {
        grid-template-columns: 1fr;
    }

    .top-section-inner-sp {
        flex-direction: column;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 60px !important;
        height: 60px !important;
    }

    .spera-btns {
        width: 150px;
        margin: 0 auto 20px auto;
    }

    .sper-media-wrapper {
        grid-template-columns: 1fr;
    }

    .num-it-sper {
        min-height: 0;
    }

    .spera-slide div div {
        width: 100%;
    }

    .sper-mask-flag {
        position: relative;
        mask-image: url(../images/mask/sper-flag-mask-mob.png);
        mask-repeat: no-repeat;
        mask-size: 98% 98%;
        mask-position: center;
    }

    .sper-w100 img {
        height: 140px;
    }

    .sper-mask-flag img {
        height: 390px;
    }

    .top-sper-dec::after {
        left: 12%;
        top: 9%;
        width: 24px;
    }

    .top-sper-dec::before {
        right: 12%;
        bottom: 10%;
        width: 24px;
    }
}

@media (max-width: 550px) {
    .spray-gred_4.sp {
        grid-template-columns: 1fr;
    }
}