@import "fonts.css";
@import "lang-swich.css";
@import "san-obr.css";
@import "spray.css";


/* colors */

:root {
    --black: #1A1A1E;
    --white: #F0F1F2;
    --gray-100: #A2A3A8;
    --gray-200: #C8C9CC;
    --gray-300: #E1E3E5;
    --primary-100: #E30613;
    --primary-200: #F5313C;
    --White-32: #FFFFFF52;
}

/* fonts */

:root {
    --font-black: "Bw Modelica SS02 Black", sans-serif;
    --font-bold: "Bw Modelica SS02 Bold", sans-serif;
    --font-medium: "Bw Modelica SS02 Medium", sans-serif;
    --font-light: "Bw Modelica SS02 Light", sans-serif;
}


body {
    font-family: var(--font-light);
    font-size: clamp(16px, 3vw, 20px);
    line-height: 130%;
    color: var(--black);
    background: var(--white);
}

.no-scroll {
    position: fixed;
}

a {
    transition: all .3s ease;
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--primary-100) !important;
}

.btn-acc {
    background: var(--primary-100);
}

.btn-wh {
    transition: all .3s ease;
    background: var(--white);
}

.header-logo {
    width: 112px;
}

@media (max-width:860px) {
    .header-logo {
        width: 84px;
    }
}

.btn-wh:hover {
    background: var(--primary-200);
}

.spacer-block {
    display: block;
    background: center/contain no-repeat url(../images/icons/Union.svg);
    height: 120px;
}

@media (max-width:500px) {
    .spacer-block {
        background: center/contain no-repeat url(../images/icons/Union2.svg);
        height: 72px;
    }
}

.container {
    max-width: 1738px;
    padding: 0 20px;
    margin: 0 auto;
}

.section-block {
    padding-top: clamp(60px, 6vw, 100px);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(26px, 3vw, 46px);
    padding-bottom: clamp(26px, 3vw, 46px);
}

.header-menu {
    display: flex;
    gap: 28px;
}

ul.header-menu li a {
    font-size: 16px;
    font-family: var(--font-medium);
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}

.dropdown__box li::after,
ul.header-menu li::after {
    display: none;
}

.has-dropdown {
    position: relative;
    padding-right: 25px;
    display: flex;
    gap: 8px;
}

.has-dropdown:hover:after {
    transform: rotate(180deg);
    fill: var(--primary-200);
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: max-content;
    top: 31px;
    box-shadow: 0 12px 40px 0 #1A1A1E1F;
    padding: 24px;
    border-radius: 20px;
    z-index: 4;
    background: #fff;
}

.header-subs {
    display: flex;
    align-items: center;
    gap: 28px;
}

.subs-btn {
    border: 1px solid var(--gray-200);
    padding: 10px 28px 12px 28px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all .3s ease;
}

.subs-btn:hover {
    background: var(--primary-200);
    color: var(--white);
}

.subs-dec {
    display: flex;
    align-items: center;
    transition: all .3s ease;
}

.subs-dec svg path {
    fill: var(--black);
    transition: all .3s ease;
}

.subs-btn:hover .subs-dec svg path {
    fill: var(--white);
}

.burger {
    display: none;
}

.dropdown-menu.open {
    padding-top: 32px;
    display: block;
}

.dropdown-icon {
    transition: all .3s ease;
}

.dropdown-menu.open+.dropdown-icon svg path {
    fill: var(--primary-100);
}

.dropdown-menu.open+.dropdown-icon {
    transform: rotate(180deg);
}

@media (max-width: 1550px) {
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .burger span {
        position: relative;
        width: 24px;
        height: 2px;
        background: var(--black);
        display: block;
    }

    .burger span::after {
        width: 16px;
        height: 2px;
        background: var(--black);
        position: absolute;
        content: '';
        top: -6px;
        right: 0;
    }

    .burger span::before {
        width: 16px;
        height: 2px;
        background: var(--black);
        position: absolute;
        content: '';
        bottom: -6px;
        left: 0;
    }

    .header-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 105px;
        background: var(--white);
        z-index: 100;
    }

    .header-menu.open-menu {
        display: block;
    }

    .has-dropdown {
        justify-content: space-between;
    }

    .dropdown__button {
        font-size: 12px;
    }
}

/*главная страница*/
.pb-80 {
    padding-bottom: clamp(40px, 3vw, 80px);
}

.pb-60 {
    padding-bottom: clamp(32px, 3vw, 60px);
}

.pb-40 {
    padding-bottom: clamp(32px, 3vw, 40px);
}

.pb-24 {
    padding-bottom: clamp(20px, 3vw, 24px);
}

.pb-20 {
    padding-bottom: clamp(16px, 3vw, 20px);
}

.pt-20 {
    padding-top: clamp(16px, 3vw, 20px);
}

.pb-16 {
    padding-bottom: clamp(12px, 3vw, 16px);
}

.pb-12 {
    padding-bottom: 12px;
}

.gap-20 {
    gap: 20px;
}

.gap-24 {
    gap: 24px;
}

.gap-48 {
    gap: 48px;
}

.pb-32 {
    padding-bottom: clamp(24px, 3vw, 32px);
}

.p-40 {
    padding: clamp(23px, 3vw, 40px);
}

.pb-80 {
    padding-bottom: clamp(32px, 3vw, 80px);
}

.lh-30 {
    line-height: 30px;
}

.lh-20 {
    line-height: 20px;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.d-grid-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.wrap-wrap {
    flex-wrap: wrap;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.bold-text {
    font-family: var(--font-bold);
}

.bodrer-round-block {
    padding: clamp(24px, 3vw, 40px);
    border: 1px solid var(--gray-200);
    border-radius: clamp(40px, 3vw, 60px);
}

.bodrer-round-block-w {
    padding: clamp(24px, 3vw, 40px);
    border: 1px solid var(--white);
    border-radius: clamp(40px, 3vw, 60px);
    background: var(--White-32);
}

.blur-block {
    backdrop-filter: blur(20px);
    background: #ffffff5c;
}

.transform-180 {
    transform: rotate(180deg);
}

.back-img {
    width: clamp(23px, 3vw, 40px);
    height: clamp(23px, 3vw, 40px);
    border-radius: 100%;
}

.back-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-t {
    border-top: 1px solid var(--gray-200);
}

.border-b {
    border-bottom: 1px solid var(--gray-200);
}

.number-list {
    padding-left: 20px;
}


@media (max-width: 860px) {
    .d-flex.flex-col {
        display: flex;
        flex-direction: column;
    }
}

.text-a-center {
    text-align: center;
}

h1.main-title {
    font-size: clamp(32px, 5vw, 90px);
    font-family: var(--font-black);
    line-height: 130%;
    text-transform: uppercase;
}

h2.block-section-title {
    font-size: clamp(32px, 3vw, 60px);
    font-weight: 900;
    line-height: 130%;
    text-align: center;
    font-family: var(--font-black);
    text-transform: uppercase;
}

h3.subtitle {
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 900;
    line-height: 130%;
    font-family: var(--font-black);
    text-transform: uppercase;
}

.star-decor {
    width: 48px;
    height: 48px;
    background: center / contain no-repeat url(../images/icons/Plus.svg);
}

.top-section-img {
    position: relative;
    mask-image: url(../images/mask/22.png);
    mask-repeat: no-repeat;
    mask-size: 98% 98%;
    mask-position: center;
}

.top-section-img-decor {
    position: relative;
}

.arr-right-wrap {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-section-img-decor::before {
    position: absolute;
    content: '';
    width: 85%;
    height: 85%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: center / contain no-repeat url(../images/main-page/IMAGE-1mask.png);
}

.top-section-img-decor::after {
    position: absolute;
    content: '';
    width: 125px;
    height: 32px;
    top: 46px;
    left: 32%;
    background: center / contain no-repeat url(../images/icons/Chip.svg);
    backdrop-filter: blur(20px);
}

.top-section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.top-section-text {
    width: 50%;
}

.top-section-items {
    padding-top: clamp(24px, 3vw, 60px);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width:1200px) {
    .top-section-items {
        flex-direction: column;
    }
}

.top-section-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.top-s-b {
    display: flex;
    align-items: center;
    gap: 7px;
}

.h3-subtitle-pb12 {
    display: block;
    padding-bottom: clamp(8px, 3vw, 12px);
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 900;
    line-height: 32.4px;
    font-family: var(--font-black);
}

.table-item {
    border-bottom: 1px solid var(--gray-200);
    padding-top: clamp(24px, 3vw, 32px);
    padding-bottom: clamp(24px, 3vw, 32px);
    transition: all .3s ease;
}

.table-item:first-child {
    border-top: 1px solid var(--gray-200);
}

.table-item:hover {
    cursor: pointer;
    background: var(--gray-300);
}

.table-item:hover .arr-right {
    transform: translateX(-20px);
}

.table-item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.table-item-inner.inner {
    display: flex;
    justify-content: space-between;
    gap: 38px;
}

.table-item-inner.inner span {
    max-width: 902px;
}

.table-text-wr {
    display: flex;
    gap: 32px;
}

.arr-right {
    background: center / contain no-repeat url(../images/icons/arr-right.svg);
    width: 65px;
    height: 29px;
    transition: all .3s ease;
}

.table-text-wr {
    max-width: 1880px;
}

.subtitle.table-text {
    width: 420px;
}

.table-text-wr span {
    max-width: 902px;
}

.med-ob-blur-text {
    padding-bottom: 24px;
}

.med-ob-blur-text span {
    display: block;
    padding-bottom: 24px;
}

.med-ob-item {
    flex-direction: column;
    justify-content: end;
    height: 870px;
    width: 50%;
}

.med-ob-blur-text ul {
    padding-left: 30px;
}


.more-btn {
    position: relative;
    font-family: var(--font-bold);
    color: var(--black);
    padding: 10px 0 12px;
    background: var(--white);
    border-radius: 80px;
    text-decoration: none;
}

.more-btn::after {
    position: absolute;
    content: '';
    background: center / contain no-repeat url(../images/icons/arr-right.svg);
    right: 16px;
    top: 12px;
    width: 18px;
    height: 24px;
}

.star-decor-el {
    border: 1px solid var(--white);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 16px;
}

.med-ob {
    position: relative;
}

.med-ob-item-dec {
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 30%;
}



.med-ob-item:nth-child(2) {
    background: top / contain no-repeat url(../images/main-page/1-1p.png);
}

.med-ob-item:nth-child(3) {
    background: top / contain no-repeat url(../images/main-page/1-2p.png);
}



@media (max-width: 860px) {
    .med-ob-item:nth-child(2) {
        background: top / contain no-repeat url(../images/main-page/med-ob-mob1.png);
    }

    .med-ob-item:nth-child(3) {
        background: top / contain no-repeat url(../images/main-page/med-ob-mob2.png);
    }

    .med-ob-item {
        height: 796px;
    }
}

.med-ob-blur-text {
    border-radius: clamp(32px, 3vw, 40px);
    padding: clamp(24px, 3vw, 40px);
    backdrop-filter: blur(20px);
    border: 1px solid var(--white);
    background: #FFFFFF52;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.med-ob {
    position: relative;
}

.med-ob-item-dec {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 30%;
    width: 100%;
}

.health-item {
    padding: clamp(24px, 3vw, 40px);
    border-radius: clamp(40px, 3vw, 60px);
    border: 1px solid var(--gray-200);
}

.health-item:hover {
    color: var(--black) !important;
}

.health-top-wrap {
    display: grid;
    grid-template-columns: 68% 15% 15%;
    grid-template-rows: 240px;
    gap: 8px;
}

.health-top-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
    overflow: hidden;
}

@media (max-width: 1500px) {
    .atomar-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 950px) {
    .atomar-items {
        grid-template-columns: 1fr;
    }
}

.atomar-item {
    position: relative;
    mask-image: url(../images/mask/atomar-mask-pk.png);
    mask-repeat: no-repeat;
    mask-size: 98% 98%;
    mask-position: center;
    display: flex;
    justify-content: end;
    height: 100%;
}

@media (max-width: 650px) {
    .atomar-item {
        mask-image: url(../images/mask/atomar-mask-mob.png);
    }
}

.atomar-item img {
    width: 100%;
    object-fit: cover;
}

.decor-star-wrapper.atomar {
    position: relative;
}

.star-decor.atomar {
    position: absolute;
    content: '';
    left: 72px;
    top: 72px;
    height: clamp(24px, 3vw, 48px);
    width: clamp(24px, 3vw, 48px);
}

.atomar-item-text {
    position: absolute;
    width: calc(100% - 80px);
    bottom: 0;
    content: '';
    padding: clamp(23px, 3vw, 40px);
    backdrop-filter: blur(20px);
    background: #ffffff5c;
    left: 50%;
    transform: translate(-50%, -40px);
    border-radius: 40px;
}

.s114-mask {
    position: relative;
    mask-image: url(../images/mask/114-mob.png);
    mask-repeat: no-repeat;
    mask-size: 98% 98%;
    mask-position: center;
}

.s114-mask img {
    height: 480px;
    object-fit: cover;
    width: 100%;
}

.s-114.txt {
    max-width: 425px;
    line-height: 30px;
}

.s-114.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.star-decor.s114 {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
}

.s114-item-txt {
    position: absolute;
    width: calc(100% - 80px);
    bottom: 0;
    content: '';
    padding: clamp(23px, 3vw, 40px);
    left: 50%;
    transform: translate(-50%, -40px);
    border-radius: 40px;
}

.decor-star-wrapper {
    position: relative;
}

.gomeopaty-block {
    position: relative;
    mask-image: url(../images/mask/gomeopaty-mask.png);
    mask-repeat: no-repeat;
    mask-size: 98% 98%;
    mask-position: center;
}

.gomeopaty-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gomeopaty-decor {
    max-width: 250px;
    font-size: 12px;
    font-family: var(--font-bold);
}

.gomeopaty-more {
    width: 100%;
}

.gomeopaty-bg {
    width: 100%;
    height: 720px;
    object-fit: cover;
}

.media-wrapper {
    padding-top: clamp(32px, 3vw, 72px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.media-item {
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 476px;
    transition: all .3s ease;
    gap: clamp(16px, 3vw, 24px);
}

.media-item .arr-right {
    width: 33px;
    min-height: 39px;
    display: block;
}

.media-item img {
    height: 214px;
    object-fit: cover;
    width: 100%;
    border-radius: clamp(32px, 3vw, 40px);
}

.media-item::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    right: 0;
    top: 0;
    background: var(--gray-200);
}

.media-item:last-child:after {
    display: none;
}

.media-flex p {
    min-height: 110px;
    font-family: var(--font-bold);
}

.media-item:hover .arr-right {
    transform: translateX(20px);
}

.media-item:hover {
    cursor: pointer;
    background: var(--gray-200);
    color: var(--black) !important;
}

.media-more {
    max-width: 493px;
    margin: 0 auto;
}

.form-subscribe {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.form-title {
    max-width: 570px;
    text-align: left !important;
}

.form-input,
.form-submit {
    display: block;
    max-width: 505px;
    width: 100%;
    outline: none;
    font-size: clamp(16px, 3vw, 20px);
    text-align: center;
}

.form-input {
    padding: 26px 20px;
    border-radius: clamp(16px, 3vw, 20px);
    border: 1px solid var(--gray-200);
    background: transparent;
}

.form-submit {
    padding: 26px 20px;
    border-radius: 80px;
    border: none;
    background: var(--primary-100);
    font-family: var(--font-bold);
    color: var(--white);
}

.form-input::placeholder {
    color: var(--black);
    font-family: var(--font-bold);
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: 1030px;
    width: 100%;
}

.form-field {
    width: 100%;
}

.response {
    position: absolute;
    right: 46px;
    top: 4px;
}

.confidencial {
    display: flex;
}

.confidencial a {
    width: fit-content;
    border-bottom: 1px dotted var(--black);
}

.footer {
    padding: 80px;
}

.footer-list-item ul li::after {
    display: none;
}

.footer-title-item {
    font-family: var(--font-bold);
    font-size: clamp(16px, 3vw, 20px);
}


.top-footer {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 80px;
}

.footer-list-item:last-child {
    grid-column: 1 / 4;
}

.bottom-footer p {
    font-family: var(--font-medium);
}

.bottom-footer.inner {
    font-size: clamp(12px, 3vw, 16px);
    gap: clamp(16px, 3vw, 28px);
}

.title-items-link {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.wrap-footer {
    display: flex;
}

.burger .open-burger {
    background: center / contain no-repeat url(../images/icons/Plus.svg);
    transition: all .3s ease;
    transform: rotate(45deg);
    width: 24px;
    height: 24px;
}

.burger .open-burger::after,
.burger .open-burger::before {
    height: 0;
}

@media (max-width: 1550px) {

    .dropdown-menu {
        position: static;
        width: 100%;
        top: initial;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        z-index: 4;
        background: transparent;
    }

    .has-dropdown {
        display: block;
    }

    .dropdown-icon {
        position: absolute;
        right: 40px;
        top: 0;
    }

    .header-menu li {
        padding-bottom: 32px;
    }

    .has-dropdown ul li {}

    .dropdown-menu.open li:last-child {
        padding-bottom: 0;
    }

    .dropdown-menu.open li a {
        font-family: var(--font-light);
    }
}

@media (max-width: 1500px) {
    .s-114.cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .s-114-inner {
        flex-direction: column;
    }

    .s-114.txt {
        width: 100%;
        max-width: 100%;
    }

    .confidencial {
        display: block;
        font-size: 12px;
        line-height: 120%;
        align-self: flex-start;
    }

    .wrap-footer {
        flex-direction: column;
    }

    .top-footer {
        width: 100%;
    }

    .med-ob-item-dec {
        display: none;
    }


}

@media (max-width: 1200px) {
    .health-top-wrap img {
        border-radius: 18px;
    }

    .form-submit {
        padding: 17px 19px;
        font-size: 16px;
    }

    .form-input {
        padding: 16px;
        font-size: 16px;
    }
}

@media (max-width: 860px) {
    .footer {
        padding: 32px 20px;
    }

    .top-section-inner {
        flex-direction: column;
    }

    .top-section-text {
        width: 100%;
    }

    .table-text-wr span {
        display: none;
    }

    .subtitle.table-text {
        width: 100%;
    }

    .table-item-inner.inner img {
        width: 48px;
        height: 48px;
    }

    .arr-right {
        width: 24px;
        height: 24px;
    }

    .med-ob-item {
        width: 100%;
    }

    .header-subs {
        gap: 20px;
    }

    .health-top-wrap img:last-child {
        display: none;
    }

    .health-top-wrap {
        grid-template-columns: 75% 25%;
        grid-template-rows: 140px;
    }

    .star-decor.atomar {
        left: 13%;
        top: 9%;
    }

    .s-114.txt {
        width: 100%;
    }

    .s-114.cards {
        grid-template-columns: 1fr;
    }

    .s114-mask img {
        height: 320px;
    }

    .atomar-item img {
        height: 560px;
    }

    .gomeopaty-card {
        width: 100%;
        text-align: center;
    }

    .gomeopaty-block {
        mask-image: url(../images/mask/gomeopaty-mask-mob.png);
    }

    .gomeopaty-bg {
        height: 600px;
    }

    .media-item::after {
        width: 100%;
        height: 1px;
    }

    .media-item:first-child:after {
        display: none;
    }

    .media-item:last-child:after {
        display: block;
    }

    .media-item:hover {
        background: initial;
    }

    .media-item:hover .arr-right {
        transform: none;
    }

    .media-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .media-flex .arr-right {
        width: 18px;
    }

    .media-item {
        height: initial;
    }

    .media-item p {
        min-height: initial;
    }

    .footer-list-item:last-child {
        grid-column: initial;
    }

    .top-footer {
        gap: 32px;
    }

    .title-items-link {
        flex-direction: column;
        padding-bottom: 40px;
    }
}

@media (max-width: 550px) {
    main {
        padding-top: 10px;
    }

    .media-wrapper {
        display: block;
    }

    .atomar-item-text {
        position: absolute;
        width: calc(100% - 40px);
        bottom: -14px;
    }

    .subs-btn {
        max-width: 179px;
    }

    .top-section-items {
        gap: 16px;
    }

    .top-section-inner {
        gap: 32px;
    }

    .med-ob-blur-text {
        gap: 20px;
    }

    .med-ob-blur-text ul {
        padding-left: 24px;
    }



    .media-wrapper {
        padding-top: 9px;
    }

    .media-item {
        padding: 23px 0 23px;
    }

    .section-block.form {
        padding: 60px 0 60px;
    }
}